In [1]:
#improting pandas
import pandas as pd

In [2]:
#path to json file
file = "purchase_data.json"

#read dataframe into pandas
game_df = pd.read_json(file)
game_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#looking at all column headers in the dataset
game_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [99]:
#player count
total_players= len(game_df["SN"].unique())
pd.DataFrame([total_players], columns=['Total Players'])

   Total Players
0            573

In [4]:
#Purching Analysis (Total) 

#number of unique items
unique =game_df ["Item Name"].nunique()
#unique

#average purchase price
Avg_Price = round(game_df["Price"].mean(),2)
Avg_Price 

#total Revenue 
tot_rev=round(game_df["Price"].sum(),2)
tot_rev

#total number of purchases 
tot_purch = game_df["Price"].count()
tot_purch

#combinging everything into one table 
purching_analysis =pd.DataFrame ({"Unique Items":[unique],
                                  "Average Price":[Avg_Price], 
                                  "Total Revenue":[tot_rev], "Total Purchase":[tot_purch] })
purching_analysis

   Average Price  Total Purchase  Total Revenue  Unique Items
0           2.93             780        2286.33           179

In [95]:
#Gender Demogarhpics 
gender_counts =game_df["Gender"].value_counts()
gender_demographics = pd.DataFrame({"Counts": gender_counts})
gender_demographics

                       Counts
Male                      633
Female                    136
Other / Non-Disclosed      11

In [62]:
#purchase analysis by Gender 
grouped_gender_df = game_df.groupby(["Gender"])
grouped_gender_df.count().head(10)

#average purchase price 
Avg_Price_MF = round(grouped_gender_df["Price"].mean(),2)
#print(Avg_Price_MF)

#purchase count
purch_count_mf = grouped_gender_df["Price"].count()
#print(purch_count_mf)

#total purchase value 
tot_purch_mf= grouped_gender_df["Price"].sum()
#print(tot_purch_mf)

#normalized Totals 
norm_tot_purch_mf = tot_purch_mf/tot_purch_mf.sum() 
#print(norm_tot_purch_mf.round(2))


#putting all the data together in one table 
gender_analysis= pd.DataFrame ({"Average Price":Avg_Price_MF,
                                  "Purchase Count":purch_count_mf, 
                                  "Total Purcahse Value":tot_purch_mf,
                                "Normalized Total":norm_tot_purch_mf })

,Average Price,Normalized Total,Purchase Count,Total Purcahse Value
Gender,,,,
Female,2.82,0.167478,136,382.91
Male,2.95,0.816890,633,1867.68
Other / Non-Disclosed,3.25,0.015632,11,35.74

In [58]:
Avg_Price_MF.values

array([ 2.82,  2.95,  3.25])

In [7]:
#AGE DEMOGRAPHICS each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#min age= 7 and max age =45
# Bins are 0 to 10, 10 to 14, 15 to 19, 75 to 100
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
group_names =["<10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41-45"]

pd.cut(game_df["Age"],bins, labels=group_names)

#adding age group varaible to dataset 
game_df["Age Group"]=pd.cut(game_df["Age"],bins, labels=group_names)

#creating a groups based off age bins
age_groups_df = game_df.groupby("Age Group")
age_groups_df.max()

#average purchase price 
Avg_Price_age = round(age_groups_df["Price"].mean(),2)
print(Avg_Price_age)

#purchase count
purch_count_age = age_groups_df["Price"].count()
print(purch_count_age)

#total purchase value 
tot_purch_age= age_groups_df["Price"].sum()
print(tot_purch_age)

#normalized Totals 
norm_tot_purch_age = tot_purch_age/tot_purch_age.sum() 
print(norm_tot_purch_age.round(2))

#putting all the data together in one table

Age Group
<10      3.02
10-15    2.87
16-20    2.87
21-25    2.96
26-30    2.89
31-35    3.07
36-40    2.90
41-45    2.88
Name: Price, dtype: float64
Age Group
<10       32
10-15     78
16-20    184
21-25    305
26-30     76
31-35     58
36-40     44
41-45      3
Name: Price, dtype: int64
Age Group
<10       96.62
10-15    224.15
16-20    528.74
21-25    902.61
26-30    219.82
31-35    178.26
36-40    127.49
41-45      8.64
Name: Price, dtype: float64
Age Group
<10      0.04
10-15    0.10
16-20    0.23
21-25    0.39
26-30    0.10
31-35    0.08
36-40    0.06
41-45    0.00
Name: Price, dtype: float64

In [93]:
#Top Spender 
#sn_counts = game_df["SN"].value_counts()

# Convert ID_count Series into a DataFrame
#sn = pd.DataFrame(sn_counts)

#sn = sn.rename(columns={"SN":"SN Count"})

#sn_groups = game_df.groupby(["SN"])
#sn

spender_items= game_df[["SN", "Price"]]
               
#group itmes by Item ID
grouped_sn = spender_items.groupby(["SN"])

#purchase count
sn_count_group = grouped_sn.count()
sn_count = pd.DataFrame(sn_count_group["Price"])

#Total Purchase Value
sn_tot_price = pd.DataFrame(grouped_sn.sum())

#Average Purchase Price
avg_sn_price = pd.DataFrame(grouped_sn.mean())

merge_sn =sn_count.merge(sn_tot_price, left_index=True, right_index=True).merge(avg_sn_price,left_index=True, right_index=True)
merge_sn= new_df.sort_values(by=["Price_x"], ascending=False).head(5)
top_spenders = merge_sn.rename(columns={"Price_x":"Purchase Count", "Price_y":"Price", "Price":"Total Price" })
top_spenders

,,Purchase Count,Price,Total Price
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41

In [33]:
game_df

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,36-40
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,21-25
2,34,Male,174,Primitive Blade,2.46,Assastnya25,31-35
3,21,Male,92,Final Critic,1.36,Pheusrical25,21-25
4,23,Male,63,Stormfury Mace,1.27,Aela59,21-25
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,16-20
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,16-20
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,26-30
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,21-25
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,31-35
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,21-25
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,16-20
12,30,Male,81,Dreamkiss,4.06,Iskossa88,26-30
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,21-25
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,36-40
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,21-25
16,22,Female,123,Twilight's Carver,1.14,Sundista85,21-25
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,21-25
18,28,Male,91,Celeste,3.71,Iskista88,26-30
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,31-35
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,21-25
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,10-15
22,11,Female,11,Brimstone,2.52,Deural48,10-15
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,16-20
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-15
25,21,Male,63,Stormfury Mace,1.27,Idai61,21-25
26,29,Male,132,Persuasion,3.90,Aerithllora36,26-30
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,31-35
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,10-15
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,16-20
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,21-25
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,26-30
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,10-15
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,16-20
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,31-35
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,21-25
756,22,Male,6,Rusty Skull,1.20,Siasri67,21-25
757,35,Male,11,Brimstone,2.52,Seosri62,31-35
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,16-20
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,16-20
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,26-30
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,26-30
762,36,Male,52,Hatred,4.39,Lisosiast26,36-40
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,26-30
764,25,Male,70,Hope's End,3.89,Assassasda84,21-25
765,15,Male,13,Serenity,1.49,Aerithnucal56,10-15
766,22,Female,84,Arcane Gem,2.23,Nitherian58,21-25
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,16-20
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,21-25
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,21-25
770,22,Male,141,Persuasion,3.27,Aenasu69,21-25
771,24,Male,25,Hero Cane,1.03,Lassista97,21-25
772,15,Male,31,Trickster,2.07,Sidap51,10-15
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,21-25
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,21-25
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,21-25
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10-15
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,16-20
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,16-20
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,21-25

In [69]:
#Most Popular Items 
items= game_df[["Item ID", "Price", "Item Name"]]
               
#group itmes by Item ID
grouped_items = items.groupby(["Item ID", "Item Name"])


#top_items =grouped_items.count().sort_values(by=["Price"], ascending=False).head(5)
item_count_group = grouped_items.count()
item_count = pd.DataFrame(item_count_group["Price"])
item_tot_price = pd.DataFrame(grouped_items.sum())
item_item_price = pd.DataFrame(grouped_items.mean())



new_df =item_count.merge(item_item_price, left_index=True, right_index=True).merge(item_tot_price,left_index=True, right_index=True)
new_df2= new_df.sort_values(by=["Price_x"], ascending=False).head(5)
most_popular_itmes = new_df2.rename(columns={"Price_x":"Purchase Count", "Price_y":"Price", "Price":"Total Price" })
most_popular_itmes

,,Purchase Count,Price,Total Price
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41

In [71]:
#Most Profitable Items 
new_df3= new_df.sort_values(by=["Price"], ascending=False).head(5)
most_profitable_itmes = new_df3.rename(columns={"Price_x":"Purchase Count", "Price_y":"Price", "Price":"Total Price" })
most_profitable_itmes

                                    Purchase Count  Price  Total Price
Item ID Item Name
34      Retribution Axe                          9   4.14        37.26
115     Spectral Diamond Doomblade               7   4.25        29.75
32      Orenmir                                  6   4.95        29.70
103     Singed Scalpel                           6   4.87        29.22
107     Splitter, Foe Of Subtlety                8   3.61        28.88

In [30]:
top_items["Age"]

Item ID
39     11
84     11
31      9
175     9
13      9
Name: Age, dtype: int64

In [31]:
new_df = pd.DataFrame()
new_df['ItemID'] = top_items.index
new_df['Purchase Count'] = top_items["Age"].values

new_df

   ItemID  Purchase Count
0      39              11
1      84              11
2      31               9
3     175               9
4      13               9

SyntaxError: invalid syntax (<ipython-input-32-2bf0757d2b04>, line 1)

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
Item ID,,,,,,,
39,23,Male,63,Stormfury Mace,1.27,Lassilsa63,21-25
84,25,Male,7,"Thorn, Satchel of Dark Souls",4.51,Raysistast71,21-25
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73,16-20
175,35,Male,34,Retribution Axe,4.14,Raillydeu47,31-35
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,21-25

In [36]:
grouped_items.value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [23]:
def total_females(item_df):
    return item_df.shape[0]

grouped_items.apply(total_females)

Item ID
0      1
1      4
2      1
3      1
4      1
5      3
6      3
7      6
8      6
9      2
10     6
11     7
12     5
13     9
14     5
15     6
16     4
17     3
18     7
19     2
20     4
21     3
22     6
23     4
24     2
25     4
26     4
27     4
28     1
29     3
      ..
154    7
155    3
156    1
157    4
158    7
159    5
160    5
161    5
162    3
163    3
164    1
165    3
166    3
167    2
168    1
169    4
170    5
171    5
172    7
173    5
174    5
175    9
176    4
177    4
178    2
179    7
180    5
181    3
182    5
183    5
Length: 183, dtype: int64

In [36]:
most_pop.index[1]

39

In [57]:
game_df[game_df["Item ID"] == 174]

,Age,Gender,Item ID,Item Name,Price,SN,purchase counts
2,34,Male,174,Primitive Blade,2.46,Assastnya25,1.0
106,37,Female,174,Primitive Blade,2.46,Chadossa56,8.0
377,37,Male,174,Primitive Blade,2.46,Aduephos78,NaN
584,21,Female,174,Primitive Blade,2.46,Aina43,NaN
715,15,Male,174,Primitive Blade,2.46,Ila44,NaN

                 SN Count
Undirrala66             5
Saedue76                4
Hailaphos89             4
Sondastan54             4
Mindimnya67             4
Qarwen67                4
Ila44                   3
Isursti83               3
Aeduera68               3
Chanastsda67            3
Aduephos78              3
Frichaya88              3
Eoda93                  3
Seorithstilis90         3
Mindirra92              3
Haellysu29              3
Isurria36               3
Yasriphos60             3
Tillyrin30              3
Haerith37               3
Sondim43                3
Ialistidru50            3
Aerithllora36           3
Lirtosia72              3
Frichosiala98           3
Chamistast30            3
Chadossa56              3
Lisistaya47             3
Yadanun74               3
Chadjask77              3
...                   ...
Sundossast30            1
Aela59                  1
Undjasksya56            1
Jiskirran77             1
Lisassa39               1
Alim85                  1
Astydil38               1
Ilimya66                1
Eudasu82                1
Lirtast83               1
Aillycal84              1
Assassa43               1
Aisurphos78             1
Indonmol95              1
Inguard95               1
Irithrap69              1
Reulae52                1
Sundjask71              1
Siarinum43              1
Palatyon26              1
Haerithp41              1
Ililsan66               1
Lisiriya82              1
Wailin72                1
Sondassasya91           1
Sirira97                1
Ilophos58               1
Qilanrion65             1
Aidaira26               1
Lisirraya76             1

[573 rows x 1 columns]